.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f6f5f7;
}

.forgot-password-container .form-container {
    background-color: white; /* White color similar to login form */
    padding: 40px;
    border-radius: 10px; /* Rounded corners similar to login form */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.forgot-password-container .form-container form{
    display: inline;
}

.forgot-password-container form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px; 
    outline: none;
    border: 1px solid black;
}

.forgot-password-container form input:focus {
    border:1px solid rgb(13, 0, 255);
}

.forgot-password-container .button-container{
    display: inline-flex;
    margin-left: 1vw;
}

.forgot-password-container button {
   /* Style similar to LOGIN button in image */
   background-color:#ff5e62; 
   color:white; 
   border:none; 
   padding:10px 20px; 
   cursor:pointer;
   position: relative;
}
